<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Cart</title>
</head>
<body>
   <h3>Welcome <?php echo $_SESSION['displayname'];?></h3>
   <a href="#" onclick="confirmLogout()">Logout</a>
    <header>
        myMovies Xpress!
    </header>
    <p><?php echo count($movies);?> Movies in Your Shopping Cart</p>
    <?php if (count($movies) == 0) {?>
        <p>Add Some Movies to Your Cart</p>
    <?php } else if (count($movies) > 0) {
        echo "<table>";
        foreach($movies as $movieId) {
            $movie = file_get_contents("https://www.omdbapi.com/?apikey=240096c9&i={$movieId}&type=movie&r=json");
            $array = json_decode($movie, true);
            $poster = $array["Poster"];
            $title = $array["Title"];
            $year = $array["Year"];

            $titleYear = ($title . ' (' . $year . ')');
            echo "<tr>";
            echo "<td><img src='{$poster}' height='100'></td>";
            echo "<td><a target='_blank' href='https://www.imdb.com/title/{$movieId}'>{$titleYear}</a></td>";
            echo "<td><a href='#' onclick='confirmRemove(`{$title}`, `{$movieId}`)'>X</a></td>";
            echo "</tr>";
        }
    } ?>
        </table>
        <br>
        <button onclick="window.location.href = './search.php'">Add Movie</button>
        <button onclick="confirmCheckout()">Checkout</button>
</body>
</html>